activate
activate.bat
activate.fish
activate.nu
activate.ps1
activate_this.py
deactivate.bat
f2py.exe
negative-words.txt
nltk.exe
normalizer.exe
pip-3.12.exe
pip.exe
pip3.12.exe
pip3.exe
positive-words.txt
pydoc.bat
python.exe
pythonw.exe
